// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

.section {
  width: 80%;
  position: absolute;
  overflow: scroll;
  height: 100vh;
  transition: all 0.5s cubic-bezier(.06,.97,.19,.91);
  will-change: transform;        /* Exemple de <custom-ident> */
  overflow-x: hidden;
  -ms-overflow-style: none;  // IE 10+
  
}

.section::-webkit-scrollbar { 
  display: none;  // Safari and Chrome
}

#section-left {
  left: 0;
  background-color: white;
}

#section-right {
  right: 0;
  background-color:$pink;
}

#section-right.section-active {
    right: 0px !important;
}

#section-right.section-inactive {
    right: 0;
}

#section-left.section-active {
  .content {
    left: 0px !important;
  }
}

.section > .content {
  max-width: 100%;
  min-width: 200px;
  padding: 2rem 10%;
  @media screen and (min-width: $medium) {
    min-width: 600px;
    padding: 5rem 10%;
  }
}

#section-left > .content {
  padding: 2rem 30% 2rem 10%;
  @media screen and (min-width: $medium) {
    padding: 5rem 40% 5rem 10%;
  }
}


.section-inactive {
  cursor: pointer;
  transition: all 0.5s cubic-bezier(.06,.97,.19,.91);
  width: 20%;
  overflow: hidden;
  .content {
    filter: blur(5px);
    transition: all 0.5s cubic-bezier(.06,.97,.19,.91);
  } 
  @media screen and (min-width: $large) {
    width: 10%;
  }
  a {
    pointer-events: none;
  }
}

.section-active {
  width: 80%;
  z-index: 1;
  @media screen and (min-width: $medium) {
    width: 90%;
  }
}

.section__title {
  font-size: 5rem;
  margin: 1rem 0 2rem 0;
  margin-left: -5px;
  @media screen and (min-width: $large) {
    font-size: 15rem;
    margin: 2rem 0 4rem 0;
    margin-left: -15px;
  }
}

.section__text, .section__experience-description, .section__experience-date {
  font-size: 1rem;
  line-height: 1.61;
  @media screen and (min-width: $medium) {
    font-size: 1.5rem;
  }
  @media screen and (min-width: $large) {
    font-size: 2rem;
  }
}

.section-inactive.hover {
  width: 20%;
  z-index: 1000;
  .content{
    filter: blur(0px);
  }
}

.section-active#section-right.hover {
  .content{
    transition: all 0.5s cubic-bezier(.06,.97,.19,.91);
    padding: 5rem 10% 5rem 20%;
  }
}

.section__experience {
  margin-bottom: 2rem;
  display: block;
  @media screen and (min-width: $medium) {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
}

.section__experience-date {
  min-width: 50px;
  @media screen and (min-width: $large) {
    min-width: 150px;
  }
  @media screen and (min-width: $large) {
    min-width: 300px;
  }
  grid-column-start: 1;
}

.section__experience-description {
  grid-column-start: 2;
}

.copyright {
  font-size: 12px;
  a {
    color: $brand-color;
    text-decoration: none;
    border-bottom: 2px solid black;
    transition: opacity 0.2s ease-in-out;
    &:hover {
      opacity: 0.5;
    }
  }
}